
// Footer style
// --------------------------------------------------

footer {
	height: 100px;
	background-color: @color-background;
	padding-top: 36px;

	p {
		margin: 0;
		color: @color-white;
		font-size: 1.2em;
		font-weight: 200;
		word-wrap: normal;

	}
}