section#item {
	.item-info{
		.btn-orange.small{
			margin-left: 0;
		}
	}

	.item-bkg {
		background-image: url('@{dist}/item-img/item-bkg.png');
		background-position: center 10%;
		background-size: auto;
		background-repeat: no-repeat;
	}

	.h1 {
		margin-top: 0;
		margin-bottom: 0;
	}

	.sub-title {
		font-size: .7em;
		color: #a2a7b0; //darken(@color-light-gray, 40%);
	}

	.btn-orange {
		margin-top: 20px;
	}

	.item-buy {
		.after {
			text-transform: uppercase;
			color: darken(@color-light-gray, 40%);
			span {
				display: block;
				font-weight: 700;
			}
		}
	}
}

section#desc {

	position: relative;
	background-image: url('@{dist}/item-img/desc-bkg.jpg');
	background-size: cover;
	background-position: bottom right;
	background-repeat: no-repeat;

	.tab-content{
		ul{
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
			li{
				display: inline-block;
			}
		}
	}
}

section#deal {

	background-color: #161d26;
    background-image: url('../img/s03/s03-bkg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
}

section#recently {

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 19px;
		width: 100%;
		background-image: url('@{dist}/borders.png');
		background-repeat: repeat-x;
		background-position: 0 -58px;
	}

	h2 {
		margin-right: 22px;
	}

	.col-item {
		width: 20%;
		float: left;
		padding: 0 20px;
	}
}

