.news-block {
	.news-title > a {
		color: @color-text;
		text-transform: uppercase;
		font-size: .9em;
		font-weight: 700;
	}

	.news-date {
		margin: 24px 0;
		display: block;
		opacity: .7;
		font-size: .7em;
	}

	.news-block {
		margin-bottom: 60px;

		a {
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}

#single-news {
	.news-date {
		margin: 0;
		opacity: .6;
		font-size: .9em;
	}
}