/* ---------------------------------------------------------------------- Section 01 */
#s01 {
	height: 100%;
	min-height: 460px;
	background-image: url('@{dist}/s01/s01-bkg.jpg');
	background-position: center;
	background-size: cover;

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		min-width: 100%; 
		min-height: 100%;
		width: auto; 
		height: auto;
	}

	.overlay {
		position: absolute;
		min-width: 100%;
	    min-height: 460px;
	    width: auto;
	    height: 100%;
		background: linear-gradient(to bottom, rgba(5,12,26,1), rgba(0,0,0,0)), linear-gradient(to bottom, @color-overlay, @color-overlay);
		background-size: 100% 360px, auto;
		background-position: top;
		background-repeat: no-repeat;
		overflow: hidden;
	}

	.container {
		position:relative;
		min-height: 460px;
		height: 100%;
		display: flex;

		h1 {
			margin-top: 120px;
		}

		.title-block {
			position: absolute;
			width: 100%;
			height: 360px;
			top: 50%;
			margin-top: -220px;
			background: url('@{dist}/nordic-heat-logo-negativ.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 400px;

			.title {
				position: relative;
	    		top: 140px;
			}
		}
	}
}