#s05 {
	padding-bottom: 80px;
	background-color: @color-background;
	background-image: url('@{dist}/s06/s06-bkg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}