#s08 {
	abackground-color: #fff;
	background-image: url('@{dist}/s02/s02-bkg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: repeat-y;
	height: 920px;
	position:relative;

	.catalog {
		margin-top: 60px;
	}

	[class^="info-"] {
		margin-top: 20px;

		.sub-title {
			margin-bottom: 22px;
		}

		.img-block {
			margin-top: 20px;

			.item {
				&.active img{
					border: 1px solid @color-light-orange;
				}
			}
		}

		.price {
			font-family: 'Roboto', sans-serif;
			margin: 20px 0;
			color: @color-dark-blue;
			font-weight: 900;
			font-size: 1.4em;
		}
	}

	
	[class*="item-"], [class^="item-"] {
		position: relative;
		background-position: center;
		background-repeat: no-repeat;

		img {
			height: 580px;
		}
	}

	.flex-row-center-center {
		top: 180px;
		height: 80%;
	}
}