#s09 {
	background-color: @color-background;
	background-image: url('@{dist}/s09/s09-bkg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 35%;

	p {
		opacity: .8;
	}
}