/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,700i|Roboto:100,300,400,500,700,700i,900,900i');
/* Main style */
html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  outline: none;
  font-size: 18px;
}
a {
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
section {
  position: relative;
}
input,
select,
textarea,
button,
button:focus,
.btn,
.selector .select.dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
select {
  display: none;
}
.white {
  color: #fff !important;
}
.orange {
  color: #ff770c !important;
}
.light-gray {
  color: #ff770c !important;
}
.section-indent {
  padding: 50px 0;
}
.section-big-indent {
  padding: 120px 0;
}
.indent {
  margin-top: 40px;
  margin-bottom: 40px;
}
a.indent {
  display: inline-block;
}
.indent-small {
  margin-top: 30px;
  margin-bottom: 30px;
}
.indent-bottom {
  margin-bottom: 26px;
}
.indent-after-h1 {
  margin-bottom: 50px;
}
.indent-after-header {
  margin-bottom: 40px;
}
.back-link {
  color: #33384a;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  font-size: .9em;
}
.back-link:hover {
  color: #767fa0;
}
.img-responsive {
  width: 100%;
  margin: auto;
}
.logo,
.logo-gr {
  display: block;
  margin: 10px 0;
  height: 60px;
  width: 260px;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}
.logo {
  background-image: url('../img/nordic-heat-logo-negativ.png');
}
#top-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.logo-gr {
  background-image: url('../img/logo-gr.svg');
  position: relative;
  top: -2px;
}
.page-bkg {
  background-image: url('../img/page-bkg-left.jpg'), url('../img/page-bkg-right.jpg');
  background-repeat: repeat-y, repeat-y;
  background-position: left center, right center;
}
.page-bkg_width-moto {
  background-image: url('../img/page-bkg-moto.png'), url('../img/page-bkg-left.jpg'), url('../img/page-bkg-right.jpg');
  background-repeat: no-repeat, repeat-y, repeat-y;
  background-position: right 90%, left center, right center;
}
.leftimg {
  float: left;
  margin: 5px 15px 15px 0;
}
.rightimg {
  float: right;
  margin: 5px 0 15px 15px;
}
.transparent {
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.animate {
  -webkit-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}
.fade {
  display: none;
}
.not-visible {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #141f33;
  background-image: url('../img/preloader.gif');
  background-position: center;
  background-repeat: no-repeat;
}
.compare-counter {
  display: none;
  position: fixed;
  right: 0;
  top: 200px;
  width: 0;
  height: 70px;
  background-color: #e0e0e0;
  z-index: 100;
}
.compare-counter:hover {
  width: 80px !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff770c), to(#fda22d));
  background-image: -webkit-linear-gradient(left, #ff770c, #fda22d);
  background-image: -o-linear-gradient(left, #ff770c, #fda22d);
  background-image: linear-gradient(to right, #ff770c, #fda22d);
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
  cursor: pointer;
}
.compare-counter:hover .counter {
  background-image: none;
  background-color: #fff;
  color: #141f33;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.compare-counter .counter {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 38px;
  top: 12px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff770c), to(#fda22d));
  background-image: -webkit-linear-gradient(left, #ff770c, #fda22d);
  background-image: -o-linear-gradient(left, #ff770c, #fda22d);
  background-image: linear-gradient(to right, #ff770c, #fda22d);
  border-radius: 50%;
  padding: 1px 3px;
  font-size: .8em;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.compare-counter .icon {
  position: absolute;
  width: 36px;
  height: 24px;
  left: 18px;
  top: 26px;
  background-image: url('../img/icon-moto.svg');
  background-repeat: no-repeat;
}
.tooltip {
  margin-top: 8px;
  font-size: 14px;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
.tooltip.in {
  opacity: 1;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2d3340;
}
.tooltip-inner {
  padding: 8px 14px;
  border-radius: 0;
  background: #2d3340;
}
/* Headers h1..h5 */
h1 {
  margin-top: 0;
}
h1,
.h1 {
  font-size: 2em;
  font-weight: 600;
  color: #33384a;
  text-transform: uppercase;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.6em;
}
.after-header {
  position: relative;
  margin-bottom: 40px;
}
.after-header:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: -22px;
  left: 0;
  border-radius: 50%;
  background-color: #ff770c;
}
.after-header:after {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin: 15px 0 0 5px;
  height: 4px;
  width: 100px;
  background-color: #ff770c;
}
.after-header-right {
  position: relative;
  margin-bottom: 40px;
}
.after-header-right:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: -22px;
  right: 0;
  border-radius: 50%;
  background-color: #ff770c;
}
.after-header-right:after {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  margin: 15px 0 0 5px;
  height: 4px;
  width: 100px;
  background-color: #ff770c;
}
.after-title {
  position: relative;
}
.after-title:after {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 7px 0;
  height: 2px;
  width: 56px;
  background-color: #f0f1f2;
}
.sub-title {
  font-size: 1em;
  font-weight: 400;
  color: #33384a;
  text-transform: uppercase;
}
h2,
h3,
h4,
.h2,
.h3,
.h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #33384a;
  font-weight: 700;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 1.8em;
}
h3,
.h3 {
  font-size: 1.2em;
}
h4,
.h4 {
  font-size: 0.8em;
}
h5 {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #a2a7b0;
}
/* Buttons style */
.btn-orange {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  width: 180px;
  border: 1px solid #fda22d;
  border-radius: 0;
  font-size: .8em;
  font-weight: 700;
  color: #fda22d;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.btn-orange:hover {
  background-color: #ff770c;
  color: #fff;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.btn-orange.invert {
  background-color: #ff770c;
  color: #fff;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.btn-orange.invert:hover {
  color: #fda22d;
  background-color: transparent;
}
.btn-orange.small {
  padding: 4px 14px;
  margin: 0 5px;
  border: 1px solid #ff770c;
}
.btn-darkorange {
  padding: 14px 32px;
  border: 1px solid #ff770c;
  border-radius: 0;
  font-size: .8em;
  font-weight: 700;
  color: #1e242d !important;
  background-color: #ff770c;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.btn-darkorange:hover {
  background-color: #ff770c;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.btn-darkorange.invert {
  background-color: #ff770c;
  color: #fff;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.btn-darkorange.invert:hover {
  color: #fda22d;
  background-color: transparent;
}
.btn-darkorange.small {
  padding: 4px 14px;
  margin: 0 5px;
  border: 1px solid #ff770c;
}
.button-down {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -33px;
  height: calc(50vh - 140px);
  width: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
       -o-transition: -o-transform 200ms ease-in-out;
          transition: transform 200ms ease-in-out;
}
.button-down .rect,
.button-down .inner-arrow {
  position: absolute;
  height: 66px;
  width: 66px;
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.8);
}
.button-down:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
       -o-transform: translateY(-5px);
          transform: translateY(-5px);
}
.button-down:hover .inner-arrow {
  fill: #fff;
}
/* button catalog */
.btn-catalog {
  position: relative;
  padding: 8px 38px 18px 58px;
  top: -10px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-image: url('../img/catalog-btn-bkg.png');
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 10;
  -webkit-transition: color 200ms ease-in-out;
       -o-transition: color 200ms ease-in-out;
          transition: color 200ms ease-in-out;
}
.btn-catalog:hover {
  text-decoration: none;
  color: #ff770c;
}
.btn-dark-blue {
  padding: 14px;
  height: 52px;
  display: inline-block;
  background-color: #f0f1f2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em;
  line-height: 1.8em;
  color: #141f33;
  text-align: center;
}
.btn-dark-blue:hover {
  text-decoration: none;
  color: #ff770c;
}
.btn-dark-blue.active {
  background-color: #141f33;
  color: #ff770c;
}
.btn-dark-blue.active:hover {
  text-decoration: none;
  color: #fff;
}
.btn-dark-blue.active .icon-block {
  background-position: 33% 0;
}
.btn-dark-blue.active .icon-list {
  background-position: 100% 0;
}
.btn-buy {
  display: block;
  margin: 0 auto;
  width: 387px;
  height: 119px;
  background: url('../img/catalog-img/buy-btn.png');
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  padding: 33px 128px;
}
.btn-buy:hover {
  color: #141f33;
  text-decoration: none;
}
.tabs {
  color: red;
  padding: 0;
  margin-left: -30px;
}
.tabs li {
  float: left;
  padding: 8px 26px 18px 30px;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
}
.tabs li a {
  color: #33384a;
  text-decoration: none;
}
.tabs li.active {
  background-image: url('../img/catalog-btn-bkg.png');
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-repeat: no-repeat;
}
.tabs li.active a {
  color: #ff770c;
}
.tabs li:hover {
  text-decoration: none;
}
.tabs li:hover a {
  color: #ff770c;
}
/* Menu */
#top-menu {
  position: relative;
  height: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}
#top-menu .btn-orange {
  margin-top: 3px;
}
#top-menu.dark-blue {
  background-color: #141f33;
}
#top-menu i {
  margin-left: 20px;
}
#top-menu .phone {
  color: #f0f1f2;
}
#top-menu .phone:hover {
  color: #ff770c;
}
#top-menu .menu-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#top-menu .menu-top .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}
#top-menu .menu-top .menu div {
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#top-menu .menu-top .menu div:not(:last-child) {
  margin-right: 16px;
}
#top-menu .menu-top .menu div:hover {
  color: #ff770c;
  cursor: pointer;
}
.sub-menu {
  height: 78px;
  position: relative;
  background-color: #33384a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-menu ul {
  padding: 0;
  margin-top: 18px;
  list-style: none;
}
.sub-menu ul li {
  display: inline;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  margin-right: 80px;
  -webkit-transition: color 200ms ease-in-out;
       -o-transition: color 200ms ease-in-out;
          transition: color 200ms ease-in-out;
}
.sub-menu ul li:last-child {
  margin-right: 0;
}
.sub-menu ul li:hover {
  color: #ff770c;
}
.sub-menu ul li.active {
  position: relative;
  color: #fff;
}
.sub-menu ul li.active::after {
  content: '';
  position: absolute;
  top: 41px;
  left: 50%;
  margin-left: -84px;
  height: 5px;
  width: 168px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 119, 12, 0)), color-stop(50%, #ff770c), to(rgba(255, 119, 12, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 119, 12, 0) 0%, #ff770c 50%, rgba(255, 119, 12, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 119, 12, 0) 0%, #ff770c 50%, rgba(255, 119, 12, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 119, 12, 0) 0%, #ff770c 50%, rgba(255, 119, 12, 0) 100%);
}
/* ---------------------------------------------------------------------- Section 01 */
#s01 {
  height: 100%;
  min-height: 460px;
  background-image: url('../img/s01/s01-bkg.jpg');
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
#s01 video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
#s01 .overlay {
  position: absolute;
  min-width: 100%;
  min-height: 460px;
  width: auto;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#050c1a), to(rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(20, 31, 51, 0.2)), to(rgba(20, 31, 51, 0.2)));
  background: -webkit-linear-gradient(top, #050c1a, rgba(0, 0, 0, 0)), -webkit-linear-gradient(top, rgba(20, 31, 51, 0.2), rgba(20, 31, 51, 0.2));
  background: -o-linear-gradient(top, #050c1a, rgba(0, 0, 0, 0)), -o-linear-gradient(top, rgba(20, 31, 51, 0.2), rgba(20, 31, 51, 0.2));
  background: linear-gradient(to bottom, #050c1a, rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(20, 31, 51, 0.2), rgba(20, 31, 51, 0.2));
  -webkit-background-size: 100% 360px, auto;
          background-size: 100% 360px, auto;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}
#s01 .container {
  position: relative;
  min-height: 460px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#s01 .container h1 {
  margin-top: 120px;
}
#s01 .container .title-block {
  position: absolute;
  width: 100%;
  height: 360px;
  top: 50%;
  margin-top: -220px;
  background: url('../img/nordic-heat-logo-negativ.png');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 400px 400px;
          background-size: 400px;
}
#s01 .container .title-block .title {
  position: relative;
  top: 140px;
}
/* ---------------------------------------------------------------------- Section 02 */
#s02 {
  background-color: #fff;
  background-image: url('../img/s02/s02-bkg.jpg');
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: repeat-y;
  height: 920px;
  position: relative;
}
#s02 .catalog {
  margin-top: 60px;
}
#s02 [class^="info-"] {
  margin-top: 20px;
}
#s02 [class^="info-"] .sub-title {
  margin-bottom: 22px;
}
#s02 [class^="info-"] .sub-title span {
  padding-left: 10px;
  font-size: .8em;
  font-weight: 600;
  color: #a2a7b0;
}
#s02 [class^="info-"] .img-block {
  margin-top: 20px;
}
#s02 [class^="info-"] .img-block .item.active img {
  border: 1px solid #fda22d;
}
#s02 [class^="info-"] .price {
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
  color: #141f33;
  font-weight: 900;
  font-size: 1.4em;
}
#s02 [class*="item-"],
#s02 [class^="item-"] {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
#s02 [class*="item-"] img,
#s02 [class^="item-"] img {
  height: 580px;
}
#s02 .flex-row-center-center {
  top: 180px;
  height: 80%;
}
#s03 {
  background-color: #161d26;
  background-image: url('../img/s03/s03-bkg.jpg');
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%;
}
#s03 p {
  opacity: .8;
}
/* ---------------------------------------------------------------------- Section 04 */
#s04 {
  background-color: #fff;
  background-image: url('../img/s02/s02-bkg.jpg');
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: repeat-y;
  height: 920px;
  position: relative;
}
#s04 .catalog {
  margin-top: 60px;
}
#s04 [class^="info-"] {
  margin-top: 20px;
}
#s04 [class^="info-"] .sub-title {
  margin-bottom: 22px;
}
#s04 [class^="info-"] .img-block {
  margin-top: 20px;
}
#s04 [class^="info-"] .img-block .item.active img {
  border: 1px solid #fda22d;
}
#s04 [class^="info-"] .price {
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
  color: #141f33;
  font-weight: 900;
  font-size: 1.4em;
}
#s04 [class*="item-"],
#s04 [class^="item-"] {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
#s04 [class*="item-"] img,
#s04 [class^="item-"] img {
  height: 580px;
}
#s04 .flex-row-center-center {
  top: 180px;
  height: 80%;
}
#s05 {
  padding-bottom: 80px;
  background-color: #161d26;
  background-image: url('../img/s06/s06-bkg.jpg');
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#s06 {
  abackground-color: #fff;
  background-image: url('../img/s02/s02-bkg.jpg');
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: repeat-y;
  height: 920px;
  position: relative;
}
#s06 .catalog {
  margin-top: 60px;
}
#s06 [class^="info-"] {
  margin-top: 20px;
}
#s06 [class^="info-"] .sub-title {
  margin-bottom: 22px;
}
#s06 [class^="info-"] .img-block {
  margin-top: 20px;
}
#s06 [class^="info-"] .img-block .item.active img {
  border: 1px solid #fda22d;
}
#s06 [class^="info-"] .price {
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
  color: #141f33;
  font-weight: 900;
  font-size: 1.4em;
}
#s06 [class*="item-"],
#s06 [class^="item-"] {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
#s06 [class*="item-"] img,
#s06 [class^="item-"] img {
  height: 580px;
}
#s06 .flex-row-center-center {
  top: 180px;
  height: 80%;
}
#s07 {
  background-color: #161d26;
  background-image: url('../img/s07/s07-bkg.jpg');
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%;
}
#s07 p {
  opacity: .8;
}
#s08 {
  abackground-color: #fff;
  background-image: url('../img/s02/s02-bkg.jpg');
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: repeat-y;
  height: 920px;
  position: relative;
}
#s08 .catalog {
  margin-top: 60px;
}
#s08 [class^="info-"] {
  margin-top: 20px;
}
#s08 [class^="info-"] .sub-title {
  margin-bottom: 22px;
}
#s08 [class^="info-"] .img-block {
  margin-top: 20px;
}
#s08 [class^="info-"] .img-block .item.active img {
  border: 1px solid #fda22d;
}
#s08 [class^="info-"] .price {
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
  color: #141f33;
  font-weight: 900;
  font-size: 1.4em;
}
#s08 [class*="item-"],
#s08 [class^="item-"] {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
#s08 [class*="item-"] img,
#s08 [class^="item-"] img {
  height: 580px;
}
#s08 .flex-row-center-center {
  top: 180px;
  height: 80%;
}
#s09 {
  background-color: #161d26;
  background-image: url('../img/s09/s09-bkg.jpg');
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%;
}
#s09 p {
  opacity: .8;
}
footer {
  height: 100px;
  background-color: #161d26;
  padding-top: 36px;
}
footer p {
  margin: 0;
  color: #fff;
  font-size: 1.2em;
  font-weight: 200;
  word-wrap: normal;
}
/* Catalog Carousel */
.catalog-jacket-carousel .owl-item img,
.catalog-termo-carousel .owl-item img,
.catalog-gloves-carousel .owl-item img,
.catalog-accessories-carousel .owl-item img {
  width: auto;
}
.catalog-jacket-carousel .owl-nav,
.catalog-termo-carousel .owl-nav,
.catalog-gloves-carousel .owl-nav,
.catalog-accessories-carousel .owl-nav {
  position: static;
}
.catalog-jacket-carousel .owl-nav .owl-prev,
.catalog-termo-carousel .owl-nav .owl-prev,
.catalog-gloves-carousel .owl-nav .owl-prev,
.catalog-accessories-carousel .owl-nav .owl-prev,
.catalog-jacket-carousel .owl-nav .owl-next,
.catalog-termo-carousel .owl-nav .owl-next,
.catalog-gloves-carousel .owl-nav .owl-next,
.catalog-accessories-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -23px;
  height: 46px;
  width: 46px;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  opacity: .2;
  -webkit-transition: opacity 200ms ease-in-out;
       -o-transition: opacity 200ms ease-in-out;
          transition: opacity 200ms ease-in-out;
}
.catalog-jacket-carousel .owl-nav .owl-prev:hover,
.catalog-termo-carousel .owl-nav .owl-prev:hover,
.catalog-gloves-carousel .owl-nav .owl-prev:hover,
.catalog-accessories-carousel .owl-nav .owl-prev:hover,
.catalog-jacket-carousel .owl-nav .owl-next:hover,
.catalog-termo-carousel .owl-nav .owl-next:hover,
.catalog-gloves-carousel .owl-nav .owl-next:hover,
.catalog-accessories-carousel .owl-nav .owl-next:hover {
  opacity: .6;
}
.catalog-jacket-carousel .owl-nav .owl-next,
.catalog-termo-carousel .owl-nav .owl-next,
.catalog-gloves-carousel .owl-nav .owl-next,
.catalog-accessories-carousel .owl-nav .owl-next {
  right: 20px;
  background-image: url('../img/arrow-right.png');
}
.catalog-jacket-carousel .owl-nav .owl-prev,
.catalog-termo-carousel .owl-nav .owl-prev,
.catalog-gloves-carousel .owl-nav .owl-prev,
.catalog-accessories-carousel .owl-nav .owl-prev {
  left: 20px;
  background-image: url('../img/arrow-left.png');
}
.item-carousel.owl-carousel {
  width: inherit;
}
.item-carousel img {
  position: relative;
  max-width: 800px;
}
.item-carousel .owl-nav {
  padding: 0 160px;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  margin-top: -23px;
}
.item-carousel .owl-nav .owl-prev,
.item-carousel .owl-nav .owl-next {
  height: 46px;
  width: 46px;
  margin: 0 2%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}
.item-carousel .owl-nav .owl-prev.disabled,
.item-carousel .owl-nav .owl-next.disabled {
  opacity: .4;
}
.item-carousel .owl-next {
  background-image: url('../img/arrow-right.png');
}
.item-carousel .owl-prev {
  background-image: url('../img/arrow-left.png');
}
.news-block {
  position: relative;
}
.news-block .owl-item {
  margin-bottom: 20px;
}
.news-block .owl-dots {
  width: 60px;
  margin: 0 auto;
}
.news-block .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  background-color: #7a7a7a;
  margin: 12px 3px 0;
  -webkit-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.news-block .owl-dots .owl-dot.active,
.news-block .owl-dots .owl-dot:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff770c), to(#fda22d));
  background-image: -webkit-linear-gradient(left, #ff770c 0%, #fda22d 100%);
  background-image: -o-linear-gradient(left, #ff770c 0%, #fda22d 100%);
  background-image: linear-gradient(to right, #ff770c 0%, #fda22d 100%);
  -webkit-box-shadow: 0 0 6px 0 #ff770c;
          box-shadow: 0 0 6px 0 #ff770c;
}
.news-block .owl-nav {
  position: absolute;
  bottom: -4px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}
.news-block .owl-nav .owl-next,
.news-block .owl-nav .owl-prev {
  height: 20px;
  width: 20px;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  opacity: .3;
  z-index: 2;
  -webkit-transition: opacity 200ms ease-in-out;
       -o-transition: opacity 200ms ease-in-out;
          transition: opacity 200ms ease-in-out;
}
.news-block .owl-nav .owl-next.disabled,
.news-block .owl-nav .owl-prev.disabled {
  opacity: .2;
}
.news-block .owl-nav .owl-next:hover,
.news-block .owl-nav .owl-prev:hover {
  opacity: .8;
}
.news-block .owl-nav .owl-next {
  margin-left: 80px;
  background-image: url('../img/arrow-right_white.png');
}
.news-block .owl-nav .owl-prev {
  background-image: url('../img/arrow-left_white.png');
}
.catalog.block .color-carousel.owl-carousel {
  margin: 18px auto;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -30px !important;
}
.color-carousel.owl-carousel {
  display: none;
  margin: 14px 0 0 52px !important;
  width: 60px;
  height: 18px;
  left: 0;
  /*.owl-stage-outer {
			overflow: hidden;
			border-radius: 10px;
		}*/
}
.color-carousel.owl-carousel [class^='item-'],
.color-carousel.owl-carousel [class*='item-'] {
  margin: 4px;
  height: 10px;
  width: 10px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.color-carousel.owl-carousel .owl-item > div:hover:before {
  opacity: .5;
}
.color-carousel.owl-carousel .owl-item > div.selected:before {
  opacity: 1 !important;
}
.color-carousel.owl-carousel .owl-item > div.selected:before,
.color-carousel.owl-carousel .owl-item > div:hover:before {
  content: '';
  display: block;
  position: relative;
  top: -4px;
  left: -4px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #33384a;
  -webkit-transition: opacity 200ms ease-in-out;
       -o-transition: opacity 200ms ease-in-out;
          transition: opacity 200ms ease-in-out;
}
.color-carousel.owl-carousel .owl-stage-outer {
  z-index: 10;
}
.color-carousel.owl-carousel .owl-nav {
  position: absolute;
  left: -26px;
  top: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 114px;
  cursor: pointer;
}
.color-carousel.owl-carousel .owl-nav > div {
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  color: transparent;
}
.color-carousel.owl-carousel .owl-nav > div.disabled {
  opacity: 0;
}
.color-carousel.owl-carousel .red {
  background-color: red;
}
.color-carousel.owl-carousel .green {
  background-color: green;
}
.color-carousel.owl-carousel .blue {
  background-color: blue;
}
/*.owl-dots {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.owl-dot {
			border-radius: 50%;

			&.active {
				background-color: darken(@color-gray, 50%);
			}
		}
	}*/
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  /*.owl-item img {
		display: block;
		width: 100%;
		-webkit-transform-style: preserve-3d;
	}*/
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.owl-carousel .owl-dots .owl-dot {
  border-radius: 50%;
}
.owl-carousel .owl-dots .owl-dot.active {
  background-color: #616161;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  display: none;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
