doctype html
html(lang="ru")
	head
		meta(content="text/html", charset="utf-8")
		meta(name="description", content="description")
		meta(name="viewport", content="width=1240, user-scalable=yes")

		title Nordic Heat

		include includes/header.jade

	body

		include lib/svg.jade
		include lib/top-menu.jade

		//-#preloader
		include includes/index/s01.jade
		include includes/index/s02.jade
		include includes/index/s03.jade
		include includes/index/s04.jade
		include includes/index/s05.jade
		include includes/index/s06.jade
		include includes/index/s07.jade
		include includes/index/s08.jade
		include includes/index/s09.jade
		//-+contacts('black')
		include includes/footer.jade
		
		+icons
		// Подключаем скрипты
		include includes/scripts.jade