
/* Buttons style */

.btn-orange {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 52px;
	width: 180px;
	border: 1px solid @color-light-orange;
	border-radius: 0;
	font-size: .8em;
	font-weight: 700;
	color: @color-light-orange;
	text-transform: uppercase;
	transition: all 200ms ease-in-out;

	&:hover {
		background-color: @color-orange;
		color: @color-white;
		transition: all 200ms ease-in-out;
	}

	&.invert {
		background-color: @color-orange;
		color: @color-white;
		transition: all 200ms ease-in-out;

		&:hover {
			color: @color-light-orange;
			background-color: transparent;
		}
	}

	&.small {
		padding: 4px 14px;
		margin: 0 5px;
		border: 1px solid @color-orange;
	}
}

.btn-darkorange {
	padding: 14px 32px;
	border: 1px solid @color-orange;
	border-radius: 0;
	font-size: .8em;
	font-weight: 700;
	color: #1e242d !important;
	background-color: @color-orange;
	text-transform: uppercase;
	transition: all 200ms ease-in-out;

	&:hover {
		background-color: @color-orange;
		transition: all 200ms ease-in-out;
	}

	&.invert {
		background-color: @color-orange;
		color: @color-white;
		transition: all 200ms ease-in-out;

		&:hover {
			color: @color-light-orange;
			background-color: transparent;
		}
	}

	&.small {
		padding: 4px 14px;
		margin: 0 5px;
		border: 1px solid @color-orange;
	}
}

.button-down {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -33px;
	height: ~"calc(50vh - 140px)";
	width: 66px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: transform 200ms ease-in-out;
	.rect, .inner-arrow {
		position: absolute;
		height: 66px;
		width: 66px;
		cursor: pointer;
		fill: fade(@color-white, 80%);
	}
	&:hover{
		transform: translateY(-5px);
		.inner-arrow{
			fill: @color-white;
		}
	}
}

/* button catalog */

.btn-catalog {
	position: relative;
	padding: 8px 38px 18px 58px;
	top: -10px;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 700;
	color: @color-white;
	background-image: url('@{dist}/catalog-btn-bkg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 10;
	transition: color 200ms ease-in-out;

	&:hover {
		text-decoration: none;
		color: @color-orange;
	}
}

.btn-dark-blue {
	padding: 14px;
	height: 52px;
	//width: 52px;
	display: inline-block;
	background-color: @color-light-gray;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .8em;
	line-height: 1.8em;
	color: @color-dark-blue;
	text-align: center;

	&:hover {
		text-decoration: none;
		color: @color-orange;
	}

	&.active {
		background-color: @color-dark-blue;
		color: @color-orange;

		&:hover {
			text-decoration: none;
			color: @color-white;
		}

		& .icon-block {
			background-position: 33% 0;
		}

		& .icon-list {
			background-position: 100% 0;
		}
	}
}

.btn-buy {
	display: block;
	margin: 0 auto;
	width: 387px;
	height: 119px;
	background: url('@{dist}/catalog-img/buy-btn.png');
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 700;
	color: @color-white;
	padding: 33px 128px;

	&:hover {
		color: @color-dark-blue;
		text-decoration: none;
	}
}

.tabs {
	color: red;
	padding: 0;
	margin-left: -30px;

	li {
		float: left;
		padding: 8px 26px 18px 30px;
		font-size: .8em;
		text-transform: uppercase;
		font-weight: 700;
		list-style: none;

		a {
			color: @color-text;
			text-decoration: none;
		}

		&.active {
			background-image: url('@{dist}/catalog-btn-bkg.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;

			a {
				color: @color-orange;
			}
		}

		&:hover {
			text-decoration: none;
			a {
				color: @color-orange;
			}
		}
	}
}