/* Headers h1..h5 */

h1 {
	margin-top: 0;
}

h1, .h1 {
	font-size: 2em;
	font-weight: 600;
	color: @color-text;
	text-transform: uppercase;
}

.h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 2.6em;
} 

.after-header {
	position: relative;
	margin-bottom: 40px; 

	&:before {
		content: '';
		position: absolute;
		height: 10px;
		width: 10px;
		bottom: -22px;
		left: 0;
		border-radius: 50%;
		background-color: @color-orange;
	}
	
	&:after {
		content: '';
		display: flex;
		position: absolute;
		margin: 15px 0 0 5px;
		height: 4px;
		width: 100px;
		background-color: @color-orange;
	}
}

.after-header-right {
	position: relative;
	margin-bottom: 40px; 

	&:before {
		content: '';
		position: absolute;
		height: 10px;
		width: 10px;
		bottom: -22px;
		right: 0;
		border-radius: 50%;
		background-color: @color-orange;
	}
	
	&:after {
		content: '';
		display: flex;
		position: absolute;
		right: 0;
		margin: 15px 0 0 5px;
		height: 4px;
		width: 100px;
		background-color: @color-orange;
	}
}

.after-title {
	position: relative;

	&:after {
		content: '';
		display: flex;
		margin: 7px 0;
		height: 2px;
		width: 56px;
		background-color: @color-light-gray;
	}
}

.sub-title {
	font-size: 1em;
	font-weight: 400;
	color: @color-text;
	text-transform: uppercase;
}

h2, h3, h4, .h2, .h3, .h4 {
	margin-top: 0;
	margin-bottom: 0;
	color: @color-text;
	font-weight: 700;
	text-transform: uppercase;
}

h2, .h2 {
	font-size: 1.8em;
}

h3, .h3 {
	font-size: 1.2em;
}

h4, .h4 {
	font-size: 0.8em;
}

h5 {
	font-size: 0.8em;
	text-transform: uppercase;
	color: @color-text-gray;
}