
/* Icons */

[class*='icon-'], [class^='icon-'] {
	display: inline-block;
	background-image: url('@{dist}/sprite.svg');
	background-repeat: no-repeat;

	&.icon-block {
		width: 24px;
		height: 24px;
		background-size: 92px 48px;
    	background-position: 0 0;
	}

	&.icon-list {
		margin-left: 1px;
		width: 23px;
		height: 24px;
		background-size: 92px 48px;
    	background-position: 66% 0;
	}

	&.icon-search {
		width: 24px;
		height: 24px;
		background-size: 92px 48px;
    	background-position: 33% 100%;
	}

	/*&.icon-menu {
		width: 24px;
		height: 24px;
		background-size: auto 48px;
    	background-position: 66% 100%;
	}*/
}

/* Arrows Icon */

.arrow-common() {
	height: 14px;
	width: 14px;
	background: url("@{dist}/arrows-small.png") no-repeat;
}

.arrow-right-black {
	.arrow-common();
	background-position: 0 0;
}

.arrow-left-black {
	.arrow-common();
	background-position: 33% 0;
}

.arrow-top-black {
	.arrow-common();
	background-position: 66% 0;
}

.arrow-bottom-black {
	.arrow-common();
	background-position: 100% 0;
}

.arrow-right-white {
	.arrow-common();
	background-position: 0 100%;
}

.arrow-left-white {
	.arrow-common();
	background-position: 33% 100%;
}

.arrow-top-white {
	.arrow-common();
	background-position: 66% 100%;
}

.arrow-bottom-white {
	.arrow-common();
	background-position: 100% 100%;
}