/* Menu */

#top-menu {
	position: relative;
	height: 110px;
	display: flex;
	align-items: center;
	z-index: 10;

	.btn-orange {
		margin-top: 3px;
	}

	&.dark-blue {
		background-color: @color-dark-blue;
	}

	i {
		margin-left: 20px;
	}

	.phone {
		color: @color-light-gray;

		&:hover {
			color: @color-orange;
		}
	}

	.menu-top {
		display: flex;
		align-items: center;

		.menu {
			display: flex;
			position: relative;
			text-decoration: none;
			white-space: nowrap;
			font-size: 1em;
			font-weight: 700;
			text-transform: uppercase;

			div {
				color: @color-white;
				user-select: none;
				
				&:not(:last-child) {
					margin-right: 16px;
				}
				 
				&:hover {
					color: @color-orange;
					cursor: pointer;
				}
			}
		}
	}
}


.sub-menu {
	height: 78px;
	position: relative;
	background-color: @color-text;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	ul {
		padding: 0;
		margin-top: 18px;
		list-style: none;

		li {
			display: inline;
			color: fade(@color-white, 60%);
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1em;
			cursor: pointer;
			margin-right: 80px;
			transition: color 200ms ease-in-out;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: @color-orange;
			}

			&.active {
				position: relative;
				color: @color-white;

				&::after {
					content: '';
					position: absolute;
					top: 41px;
					left: 50%;
					margin-left: -84px;
					height: 5px;
					width: 168px;
					background-image: linear-gradient(to right, fade(@color-orange, 0%) 0%, @color-orange 50%, fade(@color-orange, 0%) 100%);
				}
			}
		}
	}
}