/* Catalog Carousel */

.catalog-jacket-carousel, 
.catalog-termo-carousel,
.catalog-gloves-carousel,
.catalog-accessories-carousel {

	.owl-item {
		img {
			width: auto;
		}
	}

	.owl-nav {
		position: static;

		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			margin-top: -23px;
			height: 46px;
			width: 46px;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: .2;
			transition: opacity 200ms ease-in-out;
			&:hover{
				opacity: .6;
			}
		}

		.owl-next {
			right: 20px;
			background-image: url('@{dist}/arrow-right.png');
		}

		.owl-prev {
			left: 20px;
			background-image: url('@{dist}/arrow-left.png');
		}
	}

}

.item-carousel {

	&.owl-carousel {
		width: inherit;
		.owl-stage-outer {

		}
	}

	.owl-item {
		&.center {

		}
	}

	img {
		position: relative;
		max-width: 800px;
	}

	.owl-nav {
		padding: 0 160px;
		position: absolute;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		top: 50%;
		margin-top: -23px;
	}

	.owl-nav .owl-prev,
	.owl-nav .owl-next {
		height: 46px;
		width: 46px;
		margin: 0 2%;
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 1;

		&.disabled {
			opacity: .4;
		}
	}

	.owl-next {
		background-image: url('@{dist}/arrow-right.png');
	}

	.owl-prev {
		background-image: url('@{dist}/arrow-left.png');
	}
}

.news-block {
	position: relative;

	.owl-item {
		margin-bottom: 20px;
	}

	.owl-dots {
		width: 60px;
    	margin: 0 auto;

		.owl-dot {
			height: 10px;
			width: 10px;
			background-color: darken(@color-gray, 40%);
			margin: 12px 3px 0;
			transition: all 200ms ease-in-out;

			&.active,
			&:hover{
				background-image: linear-gradient(to right, @color-orange 0%, @color-light-orange 100%);
				box-shadow: 0 0 6px 0 @color-orange;
			}
		}
	}

	.owl-nav {
		position: absolute;
		bottom: -4px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		z-index: -1;

		.owl-next,
		.owl-prev {
			height: 20px;
			width: 20px;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: .3;
			z-index: 2;
			transition: opacity 200ms ease-in-out;

			&.disabled {
				opacity: .2;
			}

			&:hover{
				opacity: .8;
			}
		}

		.owl-next {
			margin-left: 80px;
			background-image: url('@{dist}/arrow-right_white.png');
		}

		.owl-prev {
			background-image: url('@{dist}/arrow-left_white.png');
		}
	}
}

.catalog.block{
	.color-carousel{
		&.owl-carousel{
			margin: 18px auto;
			position: absolute;
			top: 150px;
			left: 50%;
			margin-left: -30px !important;
		}
	}
}

.color-carousel {
	&.owl-carousel {
		display: none;
		margin: 14px 0 0 52px !important;
		width: 60px;
		height: 18px;
		left: 0;

		/*.owl-stage-outer {
			overflow: hidden;
			border-radius: 10px;
		}*/

		[class^='item-'], [class*='item-'] {
			margin: 4px;
			height: 10px;
			width: 10px;
			background-color: @color-black;
			border-radius: 50%;
			cursor: pointer;
		}

		.owl-item > div{
			&:hover{
				&:before{
					opacity: .5;
				}
			}
			&.selected{
				&:before{
					opacity: 1 !important;
				}
			}
			&.selected, &:hover{
				&:before{
					content: '';
					display: block;
					position: relative;
					top: -4px;
					left: -4px;
					height: 18px;
					width: 18px;
					border-radius: 50%;
					border: 2px solid @color-text;
					transition: opacity 200ms ease-in-out;
				}
			}
		}

		.owl-stage-outer{
			z-index: 10;
		}

		.owl-nav {
			position: absolute;
			left: -26px;
		    top: 2px;
			display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    align-items: center;
		    width: 114px;
		    cursor: pointer;

		    & > div {
				transition-duration: .3s;
		    	color: transparent;
				&.disabled{
					opacity: 0;
				}
		    }
		}

		.red {
			background-color: red;
		}

		.green {
			background-color: green;
		}

		.blue {
			background-color: blue;
		}
	}
}

	/*.owl-dots {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.owl-dot {
			border-radius: 50%;

			&.active {
				background-color: darken(@color-gray, 50%);
			}
		}
	}*/


/*
 *  Owl Carousel - Core
 */
.owl-carousel {
	display: block;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;
	}

	.owl-stage:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.owl-stage-outer {
		position: relative;
		overflow: hidden;
		/* fix for flashing background */
		-webkit-transform: translate3d(0px, 0px, 0px);
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}
	/*.owl-item img {
		display: block;
		width: 100%;
		-webkit-transform-style: preserve-3d;
	}*/

	.owl-dots {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.owl-dot {
			border-radius: 50%;

			&.active {
				background-color: darken(@color-gray, 50%);
			}
		}
	}

	.owl-nav.disabled,
	.owl-dots.disabled {
		display: none;
	}

	.owl-nav .owl-prev,
	.owl-nav .owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}
}

/* No Js */
.no-js .owl-carousel {
	display: block;
}