//- Contacts mixin

mixin additional-class_borders(borderColor)
	case borderColor
		when 'black'
			section#contacts.content-border_tb_bb
				block
		when 'white'
			section#contacts.content-border_tw_bb
				block

mixin contact()
	h2.white Контакты
	p.white.
		Шоу Рум - 107076, Москва, Колодезный переулок, д.2А строение&nbsp;1.
	h3.white 8 (495) 225-39-31 
		span (оптовый отдел)
	.btn.btn-orange Стать дилером
	a(href='dealers_map.html' class='dealers-map')
		h4.white Карта диллеров

mixin contact-with-form()
	.row
		.col-xs-4.col-xs-offset-4.contacts-block
			+contact
		.col-xs-4.contact-form-block
			h2.indent-bottom Напишите нам
			form.contacts-form
				.row
					.col-xs-12
						label(for='name') Имя
						input(type='text', name='name')
					.col-xs-12
						label(for='phone') Телефон
						input(type='text', name='phone')
					.col-xs-12
						textarea(rows='4', name='message' placeholder='Сообщение')
					.col-xs-6.col-xs-offset-6
						input(type='submit' class='btn btn-orange small invert' value='Отправить')

mixin contact-without-form()
	.row
		.col-xs-4.col-xs-offset-8.contacts-block
			+contact

mixin contacts(borderColor, singlePage)
	+additional-class_borders(borderColor)
		#map
		.container
			if (singlePage)
				+contact-with-form()
			else
				+contact-without-form()
