mixin icons
	svg(xmlns="http://www.w3.org/2000/svg", style="display: none;")
		symbol(id="icon-search" viewbox="0 0 34 34")
			path(d="M26.8,23.8c4.3-6.1,3-14.7-3.2-19.2S9,1.6,4.6,7.8S1.7,22.5,7.7,26.9c4.8,3.5,11.3,3.5,16-0.1L29,32l3-3.1L26.8,23.8z M9,22.4C5.4,18.6,5.4,12.6,9,9s9.7-3.6,13.3,0s3.6,9.8,0,13.4l0,0C18.7,26,12.8,26,9,22.4L9,22.4L9,22.4z")

		symbol(id="icon-menu" viewbox="0 0 34 34")
			path(d="M2,8.4h30v3H2V8.4z")
			path(d="M2,16.5h30v3H2V16.5z")
			path(d="M2,24.6h30v3H2V24.6z")

		symbol(id="icon-fb" viewbox="0 0 34 34")
			path(d="M20,11l-1.6,0c-1.7,0-2.9,1.2-2.9,3v1.4H14c-0.1,0-0.2,0.1-0.2,0.2v2c0,0.1,0.1,0.2,0.2,0.2h1.6v5c0,0.1,0.1,0.2,0.2,0.2h2c0.1,0,0.2-0.1,0.2-0.2v-5H20c0.1,0,0.2-0.1,0.2-0.2l0-2c0-0.1,0-0.1-0.1-0.2c0,0-0.1-0.1-0.2-0.1h-1.8v-1.2c0-0.6,0.1-0.8,0.9-0.8l1,0c0.1,0,0.2-0.1,0.2-0.2v-1.8C20.3,11.1,20.2,11,20,11z")
			path(d="M17,2.4L31.6,17L17,31.6L2.4,17L17,2.4 M17,1L1,17l16,16l16-16L17,1L17,1z")

		symbol(id="icon-vk" viewbox="0 0 34 34")
			path(d="M18.9,16.5L18.9,16.5c0.8-0.3,1.5-1.1,1.5-2.3c0-1.5-1.3-2.4-2.6-2.4H13v10.4h4.3c2.6,0,3.7-1.6,3.7-3.2C21,17.4,20.1,16.7,18.9,16.5z M15.4,13.6H16c0.4,0,1,0,1.4,0.2c0.3,0.2,0.5,0.6,0.5,0.9c0,0.3-0.1,0.7-0.4,0.9c-0.4,0.3-0.8,0.2-1.3,0.2h-0.7V13.6z M17.9,20.1c-0.4,0.3-0.9,0.2-1.3,0.2h-1.2v-2.6h1.3c0.4,0,0.9,0,1.2,0.2c0.3,0.2,0.6,0.7,0.6,1.1C18.5,19.4,18.3,19.8,17.9,20.1z")
			path(d="M17,2.4L31.6,17L17,31.6L2.4,17L17,2.4 M17,1L1,17l16,16l16-16L17,1L17,1z")
		
		symbol(id="icon-youtube" viewbox="0 0 34 34")
			path(d="M23.2,13.8c-0.2-0.7-0.7-1.2-1.4-1.3c-1.6-0.2-3.2-0.2-4.8-0.2c-1.6,0-3.2,0-4.8,0.2c-0.7,0.1-1.2,0.6-1.4,1.3c-0.2,1-0.2,2-0.2,3.1s0,2.1,0.2,3.1c0.2,0.7,0.7,1.2,1.4,1.3c1.6,0.2,3.2,0.2,4.8,0.2c1.6,0,3.2,0,4.8-0.2c0.7-0.1,1.2-0.6,1.4-1.3c0.2-1,0.2-2,0.2-3.1C23.5,15.9,23.5,14.8,23.2,13.8z M15.3,18.9c0-1.4,0-2.8,0-4.3c1.4,0.7,2.7,1.4,4.1,2.1C18.1,17.5,16.7,18.2,15.3,18.9z")
			path(d="M17,2.4L31.6,17L17,31.6L2.4,17L17,2.4 M17,1L1,17l16,16l16-16L17,1L17,1z")
		
		symbol(id="rect-arrow-down" viewbox="0 0 66 66")
			path(d="M33,1.9L64.1,33L33,64.1L1.9,33L33,1.9 M33,0.5L0.5,33L33,65.5L65.5,33L33,0.5L33,0.5z")
		
		symbol(id="arrow-down" viewbox="0 0 66 66")
			polygon(points="48.7,34.7 33,50.4 17.3,34.7 18.7,33.3 33,47.6 47.3,33.3")

mixin orange-gradient_fill
	defs
		linearGradient(id="orange-gradient")
			stop(offset="0%", stop-color="#fc7329")
			stop(offset="100%", stop-color="#fda22d")