//- Top-menu mixin

- var link = {'Жилеты':'s02', 'Термобельё':'s04', 'Перчатки':'s06', 'Аксессуары': 's08'};

mixin menu(link)
	each anchor, title in link
		.menu-btn(data-anchor='#{anchor}') #{title}

mixin menu-top()
	nav.menu-top
		.menu
			+menu(link)
	.text-right.phone
		p +7 (4012) 69-73-83

mixin top-menu-index()
	#top-menu
		+menu-top