section#s01
	video(autoplay, poster="img/s01/s01-bkg.jpg", id="video-bkg", loop, preload="none", width="100%", height="100%")
		source(src="video/video.mp4")
		source(src="video/video.ogv" type="video/ogg")
		source(src="video/video.webm" type="video/webm")
	.overlay
	.container
		+top-menu-index
		.title-block
			.title
				h1.white.text-center Интеллектуальная одежда <br/> с подогревом от батареи

		.button-down.appear
			svg.rect.hidden
				use(xlink:href="#rect-arrow-down")
			svg.inner-arrow.hidden
				use(xlink:href="#arrow-down")