section#s02.section-indent
	.container
		.row
			.col-xs-12
				.h1.after-header Жилеты
		.row
			.col-xs-12
				.sub-title Хорошая конструкция с хорошей посадкой 
				.sub-title и более чем пять часов тепла от одной зарядке батареи. 
		.row
			.col-xs-6.catalog
				.owl-carousel.catalog-jacket-carousel.text-center
					.item-1.appear
						img.img-responsive(src="img/catalog/NH_Quiltet_Vest_Black.jpg" data-active-item="info-1" alt="Жилет мужской с подогревом")
					.item-2.appear
						img.img-responsive(src="img/catalog/nordicheat-softshell-vest-unisex0.jpg" data-active-item="info-2" alt="")
					//-.item-3.appear
						img.img-responsive(src="img/catalog/NH_Vest_White_Women.jpg" data-active-item="info-3" alt="")

			.col-xs-6.items-info
				.info-1.row
					.col-xs-12
						.h2 Жилет мужской с подогревом
						.after-title
						.sub-title NordicHeat Black quiltet
							span Арт. 9370-NDH-L
						.text 
							p Жилет с батарейным подогревом для мужчин, с тремя зонами нагрева, позволяет самостоятельно регулировать температуру. Мощная батарея карманного размера может поддерживать тепло более пяти часов.

							p Теплый жилет для мужчин создан из высокотехнологичного материала, который является дышащим, гладким и долговечным. Сочетайте высокий комфорт с комфортным теплом даже в самые холодные дни. Три горячие зоны активируются и управляются одним нажатием кнопки управления, когда вам это нужно.
							
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Quiltet_Vest_Black.jpg" alt="NordicHeat")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Quiltet_Vest_Black_back.jpg" alt="Жилет с батарейным подогревом")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Quiltet_Vest_Black_Heat_NEWNEW.jpg" alt="Жилет мужской")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Quiltet_Vest_Black_back_Heat_NEWNEW.jpg" alt="Термобелье")
						.row.btn-block
							.col-xs-12
								p.price 13 300,00 руб.
								a(class="btn-orange" href="https://fdtactical.ru/%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F/1819-%D0%B6%D0%B8%D0%BB%D0%B5%D1%82-%D0%BC%D1%83%D0%B6%D1%81%D0%BA%D0%BE%D0%B9-%D1%81-%D0%BF%D0%BE%D0%B4%D0%BE%D0%B3%D1%80%D0%B5%D0%B2%D0%BE%D0%BC-nordicheat-black-quiltet.html#/97-%D1%80%D0%B0%D0%B7%D0%BC%D0%B5%D1%80_%D0%BA%D1%83%D1%80%D1%82%D0%BA%D0%B8-m" target="blank") Подробнее

				.info-2.hidden.row
					.col-xs-12
						.h2 Жилет с подогревом
						.after-title
						.sub-title NordicHeat Softshell Vest - unisex
							span Арт. 9536-NDH-L
						.text 
							p с 3 зонами нагрева Comfort - Heat - Motion Free
							p Теперь вы всегда можете согреться и оставаться активным на открытом воздухе. Теплая погода в северной жаре держит вас в тепле, будь вы на работе, веселитесь с собакой, играете в гольф, ощущаете природу от верховой езды, катаетесь на лыжах, устраиваете сад, катаетесь на педали
							p 3 настройки тепла - до +5 часов чарующей жары!
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/nordicheat-softshell-vest-unisex0.jpg" alt="Термобелье")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/nordicheat-softshell-vest-unisex.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/nordicheat-softshell-vest-unisex1.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/nordicheat-softshell-vest-unisex2.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 13 300,00 руб.
								a(class="btn-orange" href="https://fdtactical.ru/%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F/1820-%D0%B6%D0%B8%D0%BB%D0%B5%D1%82-%D1%81-%D0%BF%D0%BE%D0%B4%D0%BE%D0%B3%D1%80%D0%B5%D0%B2%D0%BE%D0%BC-nordicheat-softshell-vest-unisex.html#/97-%D1%80%D0%B0%D0%B7%D0%BC%D0%B5%D1%80_%D0%BA%D1%83%D1%80%D1%82%D0%BA%D0%B8-m" target="blank") Подробнее
				
				//-.info-2.hidden.row
					.col-xs-12
						.h2 Женский жилет
						.after-title
						.sub-title черный стеганый
						.text 
							p с 3 зонами нагрева Comfort - Heat - Motion Free
							p Теперь вы всегда можете согреться и оставаться активным на открытом воздухе. Теплая погода в северной жаре держит вас в тепле, будь вы на работе, веселитесь с собакой, играете в гольф, ощущаете природу от верховой езды, катаетесь на лыжах, устраиваете сад, катаетесь на педали
							p 3 настройки тепла - до +5 часов чарующей жары!
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Vest_Black_Women.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Vest_Black_Women_back.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Vest_Black_Women_Heat_NEWNEW.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Vest-Black_Women_back_Heat_NEWNEW.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее

				//-.info-3.hidden.row
					.col-xs-12
						.h2 Женский жилет
						.after-title
						.sub-title Белый стеганый
						.text 
							p с 3 зонами нагрева Comfort - Heat - Motion Free
							p Теперь вы всегда можете согреться и оставаться активным на открытом воздухе. Теплая погода в северной жаре держит вас в тепле, будь вы на работе, веселитесь с собакой, играете в гольф, ощущаете природу от верховой езды, катаетесь на лыжах, устраиваете сад, катаетесь на педали
							p 3 настройки тепла - до +5 часов чарующей жары!
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Vest_White_Women.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Vest_White_Women_back.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Vest_White_Women_Heat_NEWNEW.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Vest_White_Women_back_Heat_NEWNEW.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее
