section#s03.section-big-indent
	.container
		.row
			.col-xs-12
				.h1.after-header.white Более пяти часов тепла
		.row
			.col-xs-12.col-sm-10.col-md-8
				p.justify.white.
					Жилеты созданы сделаны с тремя утепленными зонами, тепло сплетенных из углеродных нитей. Расположены на груди и спине. Это позволяет теплу лучше циркулировать по всему телу. От сезона к сезону технология жилетов улучшается, и теперь чтобы комфортное тепло, достаточно лишь нажать на кнопку. С жилетом продается литиевая батарея, простая, по мощности, которая обеспечивает подогрев на протяжении 5 часов (продолжительность зависит от выбранного режима). Кнопка включения горит красным, желтым или зеленным огоньком, в зависимости от выбранного режима. Конечно, можно купить дополнительную батарею, чтобы обеспечить себе тепло в самые длинные и  холодные дни.
			.col-sm-2.col-md-4