section#s04.section-indent
	.container
		.row
			.col-xs-12
				.h1.after-header Термобелье
		.row
			.col-xs-12
				.sub-title Хорошая конструкция с хорошей посадкой 
				.sub-title и более чем пять часов тепла при одной зарядке батареи. 
		.row
			.col-xs-6.items-info
				.info-1.row
					.col-xs-12
						.h2 Термобельё с подогревом (верх)
						.after-title
						.sub-title NordicHeat Base Layer
							span Арт. 9703-NDH
						.text 
							p Теплый во всем теле - независимо от погоды.
							p Слой Nordic Heats Base Layer с электрическим теплом обеспечивает часы эффективной защиты от сильного холода. 
							p 3 зоны тепла в верхней и нижней частях расположены так, что тепло транспортируется по всему телу.
							p 3 настройки тепла - до 5 часов чарующей жары.

						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Base_Layer_Top_Black.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Base_Layer_Top_Black_back.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/baselayer-top-3-varmezoner.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/baselayer-top.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 10 500,00 руб.
								a(class="btn-orange" href="https://fdtactical.ru/%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F/1821-%D1%82%D0%B5%D1%80%D0%BC%D0%BE%D0%B1%D0%B5%D0%BB%D1%8C%D1%91-%D1%81-%D0%BF%D0%BE%D0%B4%D0%BE%D0%B3%D1%80%D0%B5%D0%B2%D0%BE%D0%BC-%D0%B2%D0%B5%D1%80%D1%85-nordicheat-base-layer-top.html#/96-%D1%80%D0%B0%D0%B7%D0%BC%D0%B5%D1%80_%D0%BA%D1%83%D1%80%D1%82%D0%BA%D0%B8-s" target="blank") Подробнее
				.info-2.hidden.row
					.col-xs-12
						.h2 Термобельё с подогревом (низ)
						.after-title
						.sub-title NordicHeat Base Layer
							span Арт. 9170-NDH
						.text 
							p Уютная, сухая и удобная
							p Внутренняя подкладка изготовлена ​​из дышащей и поглощающей пот ткани, которая удобна против кожи и держит вас сухим в течение всего дня. Замените толстые слои традиционной одежды этим новым изобретением - и наслаждайтесь полной свободой передвижения.
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Base_Layer_Botton_Black_back-350x420.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Base_Layer_Botton_Black-350x420.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/baselayer-bund.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 10 500,00 руб.
								a(class="btn-orange" href="https://fdtactical.ru/%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F/1822-%D1%82%D0%B5%D1%80%D0%BC%D0%BE%D0%B1%D0%B5%D0%BB%D1%8C%D1%91-%D1%81-%D0%BF%D0%BE%D0%B4%D0%BE%D0%B3%D1%80%D0%B5%D0%B2%D0%BE%D0%BC-%D0%BD%D0%B8%D0%B7-nordicheat-base-layer-bottom.html#/59-%D1%80%D0%B0%D0%B7%D0%BC%D0%B5%D1%80_%D0%B1%D1%80%D1%8E%D0%BA-s" target="blank") Подробнее

			.col-xs-6.catalog
				.owl-carousel.catalog-termo-carousel.text-center
					.item-1.appear
						img.img-responsive(src="img/catalog/NH_Base_Layer_Top_Black.jpg" data-active-item="info-1" alt="")
					.item-2.appear
						img.img-responsive(src="img/catalog/NH_Base_Layer_Botton_Black_back-350x420.jpg" data-active-item="info-2" alt="")
