section#s05.section-big-indent
	.container
		.row
			.col-xs-12.text-right
				.h1.after-header-right.white Классно быть в тепле!
		.row
			.col-xs-12.col-sm-10.col-sm-offset-2.col-md-8.col-md-offset-4.text-right
				p.justify.white.
					Nordic Heat производит одежду со встроенным режимом подогрева и постоянно развивает свои технологии, которые улучшают одежду с подогревом. Тысячи людей, которые ведут активный образ жизни, работают и отдыхают на свежем воздухе (дайверы, велосипедисты, райдеры, садоводы, охотники и рыболовы и т.д.), наслаждаются приятным теплом в своих куртках. Нижнем белье, перчатках и стельках с подогревом. Постоянно улучшая свои технологии,NH идет на встречу желаниям своих клиентов в их желании обрести свободу движения в своей одежде. Со встроенным утеплением одежда   не только тепла и практична, но таже красива. Утепленные жилеты, перчатки и нижнее белье можно стирать при 30 град., но не забудьте вытащить батарейки!