section#s06.section-indent
	.container
		.row
			.col-xs-12
				.h1.after-header Перчатки
		.row
			.col-xs-12
				.sub-title 3 настройки тепла 
				.sub-title до 5 часов чарующей жары.
		.row
			.col-xs-6.catalog
				.owl-carousel.catalog-gloves-carousel.text-center
					.item-1.appear
						img.img-responsive(src="img/catalog/NH_Mitts_Hybrid_NEW_Hand_a.jpg" data-active-item="info-1" alt="")
					.item-2.appear
						img.img-responsive(src="img/catalog/NH_Glove_Thin_NEW_Red.jpg" data-active-item="info-2" alt="")
					.item-3.appear
						img.img-responsive(src="img/catalog/NH_Glove_Heavy_NEW_Red.jpg" data-active-item="info-3" alt="")
					.item-4.appear
						img.img-responsive(src="img/catalog/glove-liner.jpg" data-active-item="info-4" alt="")

			.col-xs-6.items-info
				.info-1.row
					.col-xs-12
						.h2 Гибридные перчатки
						.after-title
						.sub-title С высокой температурой
						.text 
							p Если вы ищете превосходные зимние перчатки, попробуйте эти с батареийным подогревом. Как следует из названия, перчатки дают вам максимальную производительность, сохраняя руки теплыми и удобными. 

							p Перчатки можно открывать так, чтобы ваши пальцы были освобождены для работы, охоты, рыбалки, лыжного спорта и т.п.
							
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Mitts_Hybrid_NEW_Hand_a.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Mitts_Hybrid_NEW_RED.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/luffer-1.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее
				.info-2.hidden.row
					.col-xs-12
						.h2 Женский жилет
						.after-title
						.sub-title черный стеганый
						.text 
							p с 3 зонами нагрева Comfort - Heat - Motion Free
							p Теперь вы всегда можете согреться и оставаться активным на открытом воздухе. Теплая погода в северной жаре держит вас в тепле, будь вы на работе, веселитесь с собакой, играете в гольф, ощущаете природу от верховой езды, катаетесь на лыжах, устраиваете сад, катаетесь на педали
							p 3 настройки тепла - до +5 часов чарующей жары!
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Glove_Thin_NEW_Red.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Glove_Thin_NEW_Red_2_Heat_NEWNEW.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее

				.info-3.hidden.row
					.col-xs-12
						.h2 Женский жилет
						.after-title
						.sub-title Белый стеганый
						.text 
							p с 3 зонами нагрева Comfort - Heat - Motion Free
							p Теперь вы всегда можете согреться и оставаться активным на открытом воздухе. Теплая погода в северной жаре держит вас в тепле, будь вы на работе, веселитесь с собакой, играете в гольф, ощущаете природу от верховой езды, катаетесь на лыжах, устраиваете сад, катаетесь на педали
							p 3 настройки тепла - до +5 часов чарующей жары!
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Glove_Heavy_NEW_Red.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/Tactical.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее

				.info-4.hidden.row
					.col-xs-12
						.h2 Женский жилет
						.after-title
						.sub-title Белый стеганый
						.text 
							p с 3 зонами нагрева Comfort - Heat - Motion Free
							p Теперь вы всегда можете согреться и оставаться активным на открытом воздухе. Теплая погода в северной жаре держит вас в тепле, будь вы на работе, веселитесь с собакой, играете в гольф, ощущаете природу от верховой езды, катаетесь на лыжах, устраиваете сад, катаетесь на педали
							p 3 настройки тепла - до +5 часов чарующей жары!
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/glove-liner.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее
