section#s07.section-big-indent
	.container
		.row
			.col-xs-12
				.h1.after-header.white Обогреватели для рук
		.row
			.col-xs-12.col-sm-10.col-md-8
				p.justify.white.
					Чтобы вернуть тепло в замершие пальцы с помощью обогревателя для рук, который также работает как зарядник для Ваших электронных дивайсов. Включает в себя кабель, шнур и 2А зарядник- достаточно для 4 полных зарядов смартфона.
					Обогреватель для рук идеален как прибор 2 в 1 для людей, которые не хотят расставаться на природе с определенным уровнем комфорта и перестать общаться с внешним миром. Обогреватель для рук даст им возможность получить комфортное тепло чтобы согреть замершие руки и в тоже время иметь под рукой зарядник для электронных дивайсов таких как телефон, фотоаппарат, фонарик или стельки с подогревом от Nordic Heat.
			.col-sm-2.col-md-4