section#s08.section-indent
	.container
		.row
			.col-xs-12
				.h1.after-header Аксессуары
		.row
			.col-xs-12
				.sub-title Дополнительное оборудование
				.sub-title Аксессуары для одежды и перчаток. 
		.row
			.col-xs-6.items-info
				.info-1.row
					.col-xs-12
						.h2 Powerbank 10000mAh
						.after-title
						.sub-title Внешний аккумулятор
						.text 
							p Обогреватель со встроенным внешним аккумулятором - идеальное решение для людей на открытом воздухе, которое не нуждается в комфорте и контакте с внешним миром. Ручной нагреватель предлагает возможность теплого тепла для рук с морозом, одновременно обеспечивая питание для зарядки электронного оборудования, такого как телефон, камера, фонарик или теплоизоляция Nordic Heat.

						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Powerbank_Big_All_NEW.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Powerbank_Black_Big_Heat.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Powerbank_Camou_Big.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Powerbank_Black_Pack_Big.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее
				.info-2.hidden.row
					.col-xs-12
						.h2 Powerbank 5000mAh
						.after-title
						.sub-title Внешний аккумулятор
						.text 
							p Обогреватель со встроенным внешним аккумулятором - идеальное решение для людей на открытом воздухе, которое не нуждается в комфорте и контакте с внешним миром. Ручной нагреватель предлагает возможность теплого тепла для рук с морозом, одновременно обеспечивая питание для зарядки электронного оборудования, такого как телефон, камера, фонарик или теплоизоляция Nordic Heat.
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/NH_Powerbank_Small_alle.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Powerbank_Camou_Small.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/powerbank-lille-orange-solo.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Powerbank_Black_Small.jpg" alt="")
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее
				.info-3.hidden.row
					.col-xs-12
						.h2 Тепловые стельки
						.after-title
						.sub-title размеры 37-42
						.text 
							p Nordic Heat тепловые стельки обеспечивают комфортное тепло для холодных ног в глубокий замороженный день. Подошвы нагреваются от батареи и являются ультратонкими, легкими и надежными.
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/Saaler.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Heat_Shoe_Sole.jpg" alt="")
							.col-xs-6
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее
				.info-4.hidden.row
					.col-xs-12
						.h2 Тепловые стельки
						.after-title
						.sub-title размеры 43-47
						.text 
							p Nordic Heat тепловые стельки обеспечивают комфортное тепло для холодных ног в глубокий замороженный день. Подошвы нагреваются от батареи и являются ультратонкими, легкими и надежными.
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/Saaler.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/NH_Heat_Shoe_Sole.jpg" alt="")
							.col-xs-6
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее
				.info-5.hidden.row
					.col-xs-12
						.h2 PowerPack + аккумулятор 2600mAh
						.after-title
						.sub-title Зарядное устройство
						.text 
							p Nordic Heat Powerpack 220v, зарядное устройство + аккумулятор на 2600mAh.
						.row.img-block
							.col-xs-3.item.active
								img.img-responsive(src="img/catalog/Powerpack.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/Lader.jpg" alt="")
							.col-xs-3.item
								img.img-responsive(src="img/catalog/powerbank-mini.jpg" alt="")
							.col-xs-3
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее
				.info-6.hidden.row
					.col-xs-12
						.h2 Дополнительное зарядное устройство 220V
						.after-title
						.sub-title Зарядное устройство
						.text 
							p Подходит для всех продуктов Nordic Heat - Теплые жилеты, нижнее белье и перчатки.
						.row.img-block
							.col-xs-3.item
								img.img-responsive(src="img/catalog/Lader.jpg" alt="")
							.col-xs-9
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее
				.info-7.hidden.row
					.col-xs-12
						.h2 Дополнительные батареи для перчаток
						.after-title
						.sub-title Батареи повышенной емкости
						.text 
							p Возьмите с собой набор дополнительных батарей для перчаток и наслаждайтесь теплом в два раза больше. Подходит для тактического вкладыша и перчаточного вкладыша.
						.row.img-block
							.col-xs-3.item
								img.img-responsive(src="img/catalog/Handskebatterierne.jpg" alt="")
							.col-xs-9
						.row.btn-block
							.col-xs-12
								p.price 4 500 руб.
								a(class="btn-orange") Подробнее

			.col-xs-6.catalog
				.owl-carousel.catalog-accessories-carousel.text-center
					.item-1.appear
						img.img-responsive(src="img/catalog/NH_Powerbank_Big_All_NEW.jpg" data-active-item="info-1" alt="")
					.item-2.appear
						img.img-responsive(src="img/catalog/NH_Powerbank_Small_alle.jpg" data-active-item="info-2" alt="")
					.item-3.appear
						img.img-responsive(src="img/catalog/Saaler.jpg" data-active-item="info-3" alt="")
					.item-4.appear
						img.img-responsive(src="img/catalog/Saaler.jpg" data-active-item="info-4" alt="")
					.item-5.appear
						img.img-responsive(src="img/catalog/Powerpack.jpg" data-active-item="info-5" alt="")
					.item-6.appear
						img.img-responsive(src="img/catalog/Lader.jpg" data-active-item="info-6" alt="")
					.item-7.appear
						img.img-responsive(src="img/catalog/Handskebatterierne.jpg" data-active-item="info-7" alt="")
