section#s09.section-big-indent
	.container
		.row
			.col-xs-12.text-right
				.h1.after-header-right.white Ваша безопасность наш главная задача
		.row
			.col-xs-12.col-sm-10.col-sm-offset-2.col-md-8.col-md-offset-4.text-right
				p.justify.white.
					Ваша безопасность очень важна для нас, поэтому мы постоянно тестируем  нашу продукцию
					И мы можем быть уверенны, что она отвечает всем необходимым требованиям. Все наши товары имеют сервификат CEI RoHs и изготовлены на фабриках с высоким уровнем контроля.
					Охота, рыбалка, гольф, верховая езда, лыжный спорт и т.д., избегайте многослойной одежды! Наша одежда со встроенным утеплением станет Вашим другом в холодные дни.
