// build:css css/vendor.min.css
link(rel='stylesheet', href='css/bootstrap.css')
link(rel='stylesheet', href='css/jquery-ui.min.css')
// endbuild

// build:css css/style.min.css
link(rel='stylesheet' href='css/style.css')
// endbuild


script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
//-link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300', rel='stylesheet', type='text/css')