// build:js scripts/vendor.js
script(src='components/tether/dist/js/tether.min.js')
script(src='components/jquery/dist/jquery.min.js')
script(src='components/bootstrap/dist/js/bootstrap.min.js')
script(src='components/owl.carousel/dist/owl.carousel.min.js')
script(src='components/appear/dist/appear.min.js')
script(src='components/bootstrap-select/dist/js/bootstrap-select.min.js')
script(src='components/jquery.transit/jquery.transit.js')
// endbuild

// build:js scripts/sctipts.js
script(src='js/scripts.js')
// endbuild