.svg-common() {
	background: url("/img/sprites.svg") no-repeat;
}

.svg-icon_fb {
	.svg-common();
	background-position: 0 0;
}

.svg-icon_fb-dims {
	width: 38px;
	height: 38px;
}

.svg-icon_menu() {
	.svg-common();
	background-position: 50% -3px;
}

.svg-icon_menu-dims {
	width: 38px;
	height: 38px;
}

.svg-icon_search() {
	.svg-common();
	background-position: 0 96%;
}

.svg-icon_search-dims {
	width: 38px;
	height: 38px;
}

.svg-icon_vk() {
	.svg-common();
	background-position: 50% 100%;
}

.svg-icon_vk-dims {
	width: 38px;
	height: 38px;
}

.svg-icon_yt() {
	.svg-common();
	background-position: 100% 0;
}

.svg-icon_yt-dims() {
	width: 38px;
	height: 38px;
}

