/* Main style */

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	outline: none;
	font-size: 18px;
}

a {
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

section {
	position: relative;
}

input,
select,
textarea,
button,
button:focus,
.btn,
.selector .select.dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

select{
	display: none;
}

.white {
	color: @color-white !important;
}

.orange {
	color: @color-orange !important;
}

.light-gray {
	color: @color-orange !important;
}

.section-indent {
	padding: 50px 0;
}

.section-big-indent {
	padding: 120px 0;
}

.indent {
	margin-top: 40px;
	margin-bottom: 40px;
}

a.indent {
	display: inline-block;
}

.indent-small {
	margin-top: 30px;
	margin-bottom: 30px;
}

.indent-bottom {
	margin-bottom: 26px;
}

.indent-after-h1 {
	margin-bottom: 50px;
}

.indent-after-header {
	margin-bottom: 40px;
}

.back-link {
	color: @color-text;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700;
	font-size: .9em;

	&:hover {
		color: lighten(@color-text, 30%);
	}
}

.img-responsive {
	width: 100%;
	margin: auto;
}

.logo, .logo-gr {
	display: block;
	margin: 10px 0;
	height: 60px;
	width: 260px;
	background-size: contain;
	background-repeat: no-repeat;
}

.logo {
	background-image: url('@{dist}/nordic-heat-logo-negativ.png');
}

#top-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.logo-gr {
	background-image: url('@{dist}/logo-gr.svg');
	position: relative;
	top: -2px;
}

.page-bkg {
	background-image: url('@{dist}/page-bkg-left.jpg'), url('@{dist}/page-bkg-right.jpg');
	background-repeat: repeat-y, repeat-y;
	background-position: left center, right center;

	&_width-moto {
		background-image: url('@{dist}/page-bkg-moto.png'), url('@{dist}/page-bkg-left.jpg'), url('@{dist}/page-bkg-right.jpg');
		background-repeat: no-repeat, repeat-y, repeat-y;
		background-position: right 90%, left center, right center;
	}
}

.leftimg {
	float: left;
	margin: 5px 15px 15px 0;
}

.rightimg {
	float: right;
	margin: 5px 0 15px 15px;
}

.transparent {
	opacity: 0;
	z-index: -1;
	transition: all 200ms ease-in-out;
}

.animate {
	animation-duration: 2s;
	animation-fill-mode: both;
}

.fade {
	display: none;
}

.not-visible {
	opacity: 0;
	pointer-events: none;
   	cursor: default;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #141f33;
  background-image: url('@{dist}/preloader.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.compare-counter {
	display: none;
	position: fixed;
	right: 0;
	top: 200px;
	width: 0;
	height: 70px;
	background-color: @color-gray;
	z-index: 100;

	&:hover {
		width: 80px !important;
		background-image: @gradient-orange;
		transition: all 200ms ease-in-out;
		cursor: pointer;

		& .counter {
			background-image: none;
			background-color: @color-white;
			color: @color-dark-blue;
			transition: all 200ms ease-in-out;
		}
	}

	.counter {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 38px;
		top: 12px;
		background-image: @gradient-orange;
		border-radius: 50%;
		padding: 1px 3px;
		font-size: .8em;
		font-weight: 700;
		color: @color-white;
		transition: all 200ms ease-in-out;
	}

	.icon {
		position: absolute;
		width: 36px;
		height: 24px;
		left: 18px;
		top: 26px;
		background-image: url('@{dist}/icon-moto.svg');
		background-repeat: no-repeat;
	}
}

//Tooltips
.tooltip{
	margin-top: 8px;
	font-size: 14px;
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	&.in{
		opacity: 1;
	}
	&.bottom{
		.tooltip{
			&-arrow{
				border-bottom-color: #2d3340;
			}
		}
	}

	&-inner{
		padding: 8px 14px;
		border-radius: 0;
		background: #2d3340;
	}
}