
// Mixins
// --------------------------------------------------

.appearance(@appearance){
    -webkit-appearance: @appearance;
    -moz-appearance: @appearance;
    appearance: @appearance;
}
.user-select(@select){
    -webkit-user-select: @select;
    -moz-user-select: @select;
    -ms-user-select: @select;
    user-select: @select;
}

.transform(@transform){
    -webkit-transform: @transform;
    transform: @transform;
}

.clearfix{
    &:after{
        display: block;
        content: '';
        clear: both;
    }
}

@import "mixins/gradient.less";
@import "mixins/sprites.less";