
// Variables
// --------------------------------------------------

// Base colors
@color-white: 	 		#fff;
@color-black: 	 		#000;
@color-orange: 			#ff770c;
@color-light-orange: 	#fda22d;
@color-dark-blue: 		#141f33;
@color-gray: 			#e0e0e0;
@color-light-gray: 		#f0f1f2;
@color-text-gray: 		#a2a7b0;
@color-form-border: 	#b6b9bf;

// Element colors
@color-text: 			#33384a;
@color-background: 		#161d26;

@color-overlay: 		fade(@color-dark-blue, 20%);

// Gradients
@gradient-orange: 		linear-gradient(to right, @color-orange, @color-light-orange);
@gradient-gray: 		linear-gradient(to right, @color-light-gray 0%,  @color-light-gray 70%, fade(@color-light-gray, 0%) 100%);

// Variables
@menu-animate-time:  	.3s;
@menu-color: 			@gradient-orange;

@dist: '../img';